body {
  padding: 30px;
}

h1 {
  font-family: 'Lobster', Helvetica, arial, sans-serif;
  font-size: 4em;
  margin: 0;
  margin-left: 5px;
  color: #56D;
}

#colorPalette {
  border: 1px solid #333;
  display: none;
}

.palette {
  height: 50px;
  width: 300px;
}