body {
  padding: 30px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Lobster', Helvetica, arial, sans-serif;
  font-size: 4em;
  margin: 0;
  margin-left: 5px;
  color: #56D;
}

h2 {
  font-size: 3em;
  position: absolute;
  left: 0px;
  top: -10px;
}

svg {
  position: absolute;
  top: 30px;
  left: 200px;
}

#loadry {
  position: relative;
  display: none;
}

#colorPalette {
  border: 1px solid #333;
  display: inline-block;
}

.palette {
  height: 50px;
  width: 300px;
}